.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 15px;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    background: var(--tg-theme-button-color);
}